<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SALARY</title>
</head>


    
<body  style="background:url(https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg) ;  background-position: center ">


    <style>
        body {
          margin: 0;
        }
        
        /* Style the header */
        .header {
          background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
          padding: 20px;
          text-align: center;
          font-style: italic;
        }
        </style>
        </head>
        <body>


           <!--- <div class="header">
                <h1>SHREYAS INDUSTRIES</h1>
                <p>Salary Slip</p>

              </div>-->

    









    {%block content%}


    {% endblock %}
    


</body>
</html>